<div class="card border-{{globals.theme}}" style="margin-top: 10px;">
  <div class="card-header">Edition</div>
  <div class="card-body" style="padding-bottom: 0;">
    <!--Begin Error Message-->
    <div *ngIf="!myForm.valid && formsubmitted" class="ui error message">
      <div class="alert alert-secondary" role="alert">
        <div *ngIf="!myForm.controls['nom'].valid " class="ui error message">nom is invalid</div>
        <div *ngIf="myForm.controls['nom'].hasError('required')" class="ui error message">nom is required</div>
        <div *ngIf="!myForm.controls['couleur'].valid" class="ui error message">couleur is invalid</div>
        <div *ngIf="myForm.controls['couleur'].hasError('required')" class="ui error message">couleur required</div>
        <div *ngIf="!myForm.controls['duree'].valid" class="ui error message">formation is invalid</div>
        <div *ngIf="myForm.controls['duree'].hasError('required')" class="ui error message">formation is required</div>
        <div *ngIf="!myForm.controls['objectif'].valid" class="ui error message">formation is invalid</div>
        <div *ngIf="myForm.controls['objectif'].hasError('required')" class="ui error message">formation is required</div>
        <div *ngIf="!myForm.controls['prerequis'].valid" class="ui error message">formation is invalid</div>
        <div *ngIf="myForm.controls['prerequis'].hasError('required')" class="ui error message">formation is required</div>
        <div *ngIf="!myForm.controls['contenu'].valid" class="ui error message">formation is invalid</div>
        <div *ngIf="myForm.controls['contenu'].hasError('required')" class="ui error message">formation is required</div>

      </div>
    </div>
    <!--End Error Message-->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
      <input formControlName="id" type="hidden" class="form-control"/>
      <div class="modal-body" style="padding-top: 0;">
        <div class="form-group">
          <label>Nom *</label>
          <input formControlName="nom" required class="form-control"/>
        </div>
        <div class="form-group">
          <label>Couleur *</label>

        </div>

          <p-colorPicker [(ngModel)]="color2"></p-colorPicker>
        <span [ngStyle]="{'color':color2}"></span>





          <div class="form-group">
            <label>Durée *</label>
            <input formControlName="duree" required class="form-control"/>
          </div>
            <div class="form-group">
              <label>Objectif *</label>
              <input formControlName="objectif" required class="form-control"/>
            </div>
              <div class="form-group">
                <label>Contenu *</label>
                <input formControlName="contenu" required class="form-control"/>
              </div>
        <div class="form-group">
          <label>Prerequis *</label>
          <input formControlName="prerequis" required class="form-control"/>
        </div>

        <div *ngIf="enseignements?.length > 0; else nothing;">
          <div class="form-group">
            <label>Enseignements </label>
            <select formControlName="enseignement" [(ngModel)]="selectedEnseignement" class="form-control">
              <option *ngFor="let enseignement of enseignements" [ngValue]="enseignement">{{enseignement.niveau}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="programmes?.length > 0; else nothing;">
          <div class="form-group">
            <label>Programmes </label>
            <select formControlName="programme" [(ngModel)]="selectedProgramme" class="form-control">
              <option *ngFor="let programme of programmes" [ngValue]="programme">{{programme.id}}</option>
            </select>
          </div>
        </div>
        <!-----------End Modifier pour la forme --------------------------------------------------->
        <input type="hidden" path="id" />

        <input type="hidden" path="version" />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-{{globals.theme}}">
          <img src="/assets/images/submit.png" width="20px" height="20px">
        </button>
        <button type="reset" class="btn btn-{{globals.theme}}">
          <img src="/assets/images/reset.png" width="20px" height="20px">
        </button>
      </div>
    </form>
  </div>
</div>
