<div class="card border-{{globals.theme}}" style="margin-top: 10px;">
  <div class="card-header">Edition</div>
  <div class="card-body" style="padding-bottom: 0;">
    <!--Begin Error Message-->
    <div *ngIf="!myForm.valid && formsubmitted" class="ui error message">
      <div class="alert alert-secondary" role="alert">
        <!-----------Begin Modifier pour alert erreur --------------------------------------------------->

        <div *ngIf="myForm.controls['niveau'].hasError('required')" class="ui error message">niveau is required</div>

        <div *ngIf="myForm.controls['formateur'].hasError('required')" class="ui error message">formateur is required</div>

        <div *ngIf="myForm.controls['matiere'].hasError('required')" class="ui error message">matiere is required</div>
        <!-----------End Modifier pour alert erreur --------------------------------------------------->
      </div>
    </div>
    <!--End Error Message-->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
      <input formControlName="id" type="hidden" class="form-control"/>
      <div class="modal-body" style="padding-top: 0;">
        <!-----------Begin Modifier pour la forme --------------------------------------------------->
        <div class="form-group">
          <label>Niveau *</label>
          <select formControlName="niveau" class="form-control">
            <option *ngFor="let key of niveaux" [ngValue]="key">{{niveau[key]}}</option>
          </select>
        </div>
        <ng-template #nothing>Il n'y a pas de niveau dans la liste</ng-template>

        <div *ngIf="formateurs?.length > 0; else nothing;">
        <div class="form-group">
          <label>Formateur *</label>
          <select formControlName="formateur" [(ngModel)]="selectedFormateur" class="form-control">
            <option *ngFor="let formateur of formateurs" [ngValue]="formateur">{{formateur.nom}}</option>
          </select>
        </div>
      </div>
        <ng-template #nothing>Il n'y a pas de formateur dans la liste</ng-template>

        <div *ngIf="matieres?.length > 0; else nothing;">
          <div class="form-group">
            <label>Matiere *</label>
            <select formControlName="matiere" [(ngModel)]="selectedMatiere" class="form-control">
              <option *ngFor="let matiere of matieres" [ngValue]="matiere">{{matiere.nom}} </option>
            </select>
          </div>
        </div>
        <ng-template #nothing>Il n'y a pas de matiere dans la liste</ng-template>
        <!-----------End Modifier pour la forme --------------------------------------------------->
        <input type="hidden" path="id" />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-{{globals.theme}}">
          <img src="/assets/images/submit.png" width="20px" height="20px">
        </button>
        <button type="reset" class="btn btn-{{globals.theme}}">
          <img src="/assets/images/reset.png" width="20px" height="20px">
        </button>
      </div>
    </form>
  </div>
</div>
