<button pButton type="button" (click)="showDialog()" label="Ordinateur" icon="fa-laptop" class="btn btn-{{globals.theme}} float-right"></button>
<p-dialog header="Formation-Stagiaire" [(visible)]="display" [width]="800" modal="modal" [closeOnEscape]="false" [closable]="false">
  <!--    <p-orderList [value]="cars">
        <ng-template let-car pTemplate="item">
          <div class="ui-helper-clearfix">
            <img src="assets/images/add.png" style="display:inline-block; margin:2px 0 2px 2px;" width="40">
            <div style="float:right; margin: 15px 0 0 0;;">{{car}}</div>
          </div>
        </ng-template>
      </p-orderList>-->

  <p-pickList [source]="sourceOrdinateurs" [target]="targetOrdinateurs" [showSourceControls]="false" [showTargetControls]="false" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="nom"
              dragdrop="true" dragdropScope="ordinateurs" sourceFilterPlaceholder="Search by nom" targetFilterPlaceholder="Search by nom">
    <ng-template let-ordinateur pTemplate="item">
      <div class="ui-helper-clearfix">
        {{ordinateur.nom}} {{ordinateur.code}}
      </div>
    </ng-template>
  </p-pickList>

  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="onSubmit()" label="Yes"></button>
    <button type="button" pButton icon="fa-close" (click)="onCancel()" label="No"></button>
  </p-footer>
</p-dialog>
