<button pButton type="button" (click)="showDialog()" label="Ordinateur" icon="fa-laptop" class="btn btn-{{globals.theme}} float-right" style="margin-left: 5px;"></button>
<p-dialog header="Ajouter des ordinateurs à la formation" [(visible)]="display" [width]="800" modal="modal" [closeOnEscape]="false" [closable]="false">

  <p-pickList [source]="sourceOrdinateurs" [target]="targetOrdinateurs" [showSourceControls]="false" [showTargetControls]="false" sourceHeader="Disponible" targetHeader="Sélectionné" [responsive]="true" filterBy="nom"
              dragdrop="true" dragdropScope="ordinateurs" sourceFilterPlaceholder="Chercher par nom" targetFilterPlaceholder="Chercher par nom">
    <ng-template let-ordinateur pTemplate="item">
      <div class="ui-helper-clearfix">
        Code: {{ordinateur.code}}, nom: {{ordinateur.nom}}
      </div>
    </ng-template>
  </p-pickList>

  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="onSubmit()" label="Oui"></button>
    <button type="button" pButton icon="fa-close" (click)="onCancel()" label="Non"></button>
  </p-footer>
</p-dialog>

