<div class="card border-{{globals.theme}} rounded-0 mb-3" style="margin-top: 10px">
  <div class="card-header">titre: {{obj.titre}}</div>
  <div class="card-body text-secondary">
    <p class="card-text">id: {{obj.id}}</p>
    <p class="card-text">dateDebut: {{obj.dateDebut}}</p>
    <p class="card-text">dateFin: {{obj.dateFin}}</p>
    <p class="card-text">gestionnaire: {{obj.gestionnaire != null ? obj.gestionnaire.nom : ''}}</p>
    <p class="card-text">projecteur: {{obj.projecteur != null ? obj.projecteur.nom : ''}}</p>
    <p class="card-text">salle: {{obj.salle != null ? obj.salle.nom : ''}}</p>
    <p class="card-text">stagiaire: {{obj.allocations?.length}}</p>
      <ul *ngFor="let e of obj.allocations">
        <li>{{e.stagiaire?.nom}} {{e.stagiaire?.prenom}}</li>
      </ul>
    <p class="card-text">programmes:  {{obj.programmes?.length}}</p>
      <ul *ngFor="let e of obj.programmes">
        <li>{{e.matiere?.nom}} {{e.matiere?.couleur}} {{e.formateur?.nom}} <app-formation-add-programme [formation_id]="id" [programme_id]="e.id" [matiere_id]="e.matiere?.id" (eventemitter)="getFromChild($event)"></app-formation-add-programme></li>
      </ul>
  </div>
  <div class="card-footer clearfix">
    <a [routerLink]="['/formation-edit', obj.id]">
      <button pButton type="button" label="Edit" icon="fa-edit" class="btn btn-{{globals.theme}}"></button>
    </a>
    <button pButton type="button" label="Delete" (click)="deleteObj()" icon="fa-trash" class="btn btn-{{globals.theme}}"></button>

    <app-formation-add-materiel [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-materiel>
    <app-formation-add-matiere [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-matiere>
    <app-formation-add-ordinateur [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-ordinateur>
    <app-formation-add-stagiaire [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-stagiaire>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
