<div class="card border-{{globals.theme}} rounded-0 mb-3">
  <div class="card-header text-primary font-weight-bold">{{formation.titre}}</div>
  <div class="card-body text-primary">
    <div class="ui-g-12 ui-md-6">
      <p class="card-text"><i>Debut:</i> {{formation.dateDebut | date: 'dd/MM/yyyy'}}</p>
      <p class="card-text"><i>Fin:</i> {{formation.dateFin | date: 'dd/MM/yyyy'}}</p>
      <p class="card-text"><i>Gestionnaire:</i> {{formation.gestionnaire?.nom.toUpperCase()}} {{formation.gestionnaire?.prenom}}</p>
      <p class="card-text"><i>Salle:</i> {{formation.salle?.code}} {{formation.salle?.nom}}</p>
      <p class="card-text"><i>Projecteur:</i> {{formation.projecteur?.code}} {{formation.projecteur?.nom}}</p>
      <p class="card-text"><i>Programmes:</i> {{formation.programmes?.length}}</p>
      <ul *ngFor="let e of formation.programmes">
        <li><app-formation-add-programme [programme_id]="e.id" (eventemitter)="getFromChild($event)"></app-formation-add-programme> {{e.matiere?.nom}} <i>dure</i> {{e.matiere?.duree}} <i>jour(s) avec</i> {{e.formateur?.nom.toUpperCase()}} {{e.formateur?.prenom}}</li>
      </ul>
    </div>
    <div class="ui-g-12 ui-md-6">
      <p class="card-text"><i>Stagiaires:</i>    {{formation.stagiaires?.length}}</p>
      <ul *ngFor="let e of formation.stagiaires">
        <li>{{e?.nom.toUpperCase()}} {{e?.prenom}}</li>
      </ul>
      <p class="card-text"><i>Ordinateurs:</i>   {{formation.ordinateurs?.length}}</p>
      <ul *ngFor="let e of formation.ordinateurs">
        <li><i>Code:</i> {{e?.code}}<i>, nom:</i> {{e?.nom}}</li>
      </ul>
    </div>
  </div>
  <div class="card-footer clearfix">
    <a [routerLink]="['/formation-edit', formation.id]">
      <button pButton type="button" label="Modifier" icon="fa-edit" class="btn btn-{{globals.theme}}"></button>
    </a>
    <button pButton type="button" label="Supprimer" (click)="deleteObj()" icon="fa-trash" class="btn btn-{{globals.theme}}"></button>

    <app-formation-add-ordinateur [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-ordinateur>
    <app-formation-add-materiel [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-materiel>
    <app-formation-add-stagiaire [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-stagiaire>
    <app-formation-add-matiere [id]="id" (eventemitter)="getFromChild($event)"></app-formation-add-matiere>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<app-progress-bar (eventemitter)="getFromChildProgressBar($event)"></app-progress-bar>
