<div class="card-deck" style="margin-top: 10px">
  <div class="card text-white bg-success mb-3">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Content</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Total: 10</small>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Content</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Total: 10</small>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Content</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Total: 10</small>
    </div>
  </div>
</div>
