1 <div style="margin-top: 10px;">
  <p-table [columns]="cols" [value]="objs" [resizableColumns]="true" [paginator]="true" [rows]="3" [autoLayout]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <!--    <ng-template pTemplate="body" let-stagiaire>
        <tr>
          <td>{{stagiaire.id}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>-->
  </p-table>
</div>
