<div class="card border-{{globals.theme}} rounded-0 mb-3" style="margin-top: 10px">
  <div class="card-header">{{cheval.nom}}</div>
  <div class="card-body text-secondary">
    <p class="card-text">{{cheval.id}}</p>
    <p class="card-text">{{cheval.remarque}}</p>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/cheval-edit', cheval.id]">
      <button class="btn btn-{{globals.theme}}"><img src='/assets/images/edit.png' width="20px" height="20px"></button>
    </a>
    <button class="btn btn-{{globals.theme}}" (click)="deleteUserTest()"><img src='/assets/images/delete.png' width="20px" height="20px"></button>
  </div>
</div>
