<button pButton type="button" (click)="showDialog()" label="Materiel" icon="fa-camera-retro" class="btn btn-{{globals.theme}} float-right" style="margin-left: 5px;"></button>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate style="display:inline!important;"> <p-dialog header="Ajouter des materiels à la formation" [(visible)]="display" [width]="600" modal="modal" [closeOnEscape]="false" [closable]="false">

    <div *ngIf="salles?.length > 0; else nothing;">
      <div class="form-group">
        <label>Salle:</label>
        <select formControlName="salle" [compareWith]="equalsSalle" class="form-control">
          <option *ngFor="let salle of salles" [ngValue]="salle">code: {{salle.code}}, nom: {{salle.nom}}</option>
        </select>
      </div>
    </div>
    <ng-template #nothing><p>Il n'y a plus des salles dans la liste</p></ng-template>

    <div *ngIf="projecteurs?.length > 0; else nothing;">
      <div class="form-group">
        <label>Projecteur:</label>
        <select formControlName="projecteur" [compareWith]="equalsProjecteur" class="form-control">
          <option *ngFor="let projecteur of projecteurs" [ngValue]="projecteur">code: {{projecteur.code}}, nom: {{projecteur.nom}}</option>
        </select>
      </div>
    </div>
    <ng-template #nothing><p>Il n'y a plus des projecteurs dans la liste</p></ng-template>

  <p-footer>
    <button type="submit" pButton icon="fa-check" label="Oui"></button>
    <button type="button" pButton icon="fa-close" (click)="onCancel()" label="Non"></button>
  </p-footer>


</p-dialog>
</form>
