<button pButton type="button" (click)="showDialog()" label="Materiel" icon="fa-camera-retro" class="btn btn-{{globals.theme}} float-right"></button>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate style="display:inline!important;"> <p-dialog header="Formation-Materiel" [(visible)]="display" [width]="600" modal="modal" [closeOnEscape]="false" [closable]="false">



    <div *ngIf="salles?.length > 0; else nothing;">
      <div class="form-group">
        <label>Salle:</label>
        <select formControlName="salle" [compareWith]="equalsSalle" [(ngModel)]="selectedSalle" class="form-control">
          <option *ngFor="let salle of salles" [ngValue]="salle">{{salle.nom}}</option>
        </select>
      </div>
    </div>
    <ng-template #nothing>Il n'y a plus d'auteurs dans la liste</ng-template>

    <div *ngIf="projecteurs?.length > 0; else nothing;">
      <div class="form-group">
        <label>Projecteur:</label>
        <select formControlName="projecteur" [compareWith]="equalsProjecteur" [(ngModel)]="selectedProjecteur" class="form-control">
          <option *ngFor="let projecteur of projecteurs" [ngValue]="projecteur">{{projecteur.nom}}</option>
        </select>
      </div>
    </div>
    <ng-template #nothing>Il n'y a plus d'auteurs dans la liste</ng-template>

  <p-footer>
    <button type="submit" pButton icon="fa-check" label="Yes"></button>
    <button type="button" pButton icon="fa-close" (click)="onCancel()" label="No"></button>
  </p-footer>


</p-dialog>
</form>
