<p-dialog header="Ajouter une formation" [(visible)]="display" [width]="600" modal="modal" [closeOnEscape]="false" [closable]="false">

  <!--Begin Error Message-->
  <div *ngIf="!myForm.valid && formsubmitted" class="ui error message">
    <div class="alert alert-secondary" role="alert">
      <!-----------Begin Modifier pour alert erreur --------------------------------------------------->
      <div *ngIf="!myForm.controls['titre'].valid " class="ui error message">titre is invalid</div>
      <div *ngIf="myForm.controls['titre'].hasError('required')" class="ui error message">titre is required</div>

      <div *ngIf="!myForm.controls['dateDebut'].valid " class="ui error message">dateDebut is invalid</div>
      <div *ngIf="myForm.controls['dateDebut'].hasError('required')" class="ui error message">dateDebut is required</div>
      <!-----------End Modifier pour alert erreur --------------------------------------------------->
    </div>
  </div>
  <!--End Error Message-->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    <input formControlName="id" type="hidden" class="form-control"/>
    <div class="modal-body" style="padding-top: 0;">
      <!-----------Begin Modifier pour la forme --------------------------------------------------->
      <div class="form-group">
        <label>Titre *</label>
        <input formControlName="titre" required class="form-control"/>
      </div>
      <div class="form-group">
        <label>Date debut *</label>
        <input type="date" formControlName="dateDebut" required class="form-control"/>
       </div>
      <div class="form-group">
        <label>Date fin *</label>
        <input type="date" formControlName="dateFin" required class="form-control"/>
      </div>
      <div *ngIf="gestionnaires?.length > 0; else nothing;">
        <div class="form-group">
          <label>Gestionnaire:</label>
          <select formControlName="gestionnaire" [compareWith]="equalsObj" class="form-control">
            <option *ngFor="let gestionnaire of gestionnaires" [ngValue]="gestionnaire">{{gestionnaire.nom}}</option>
          </select>
        </div>
      </div>
      <ng-template #nothing>Il n'y a plus des gestionnaires dans la liste</ng-template>
      <!-----------End Modifier pour la forme --------------------------------------------------->
    </div>
  </form>

  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="onSubmit()" label="Oui"></button>
    <button type="button" pButton icon="fa-close" (click)="onCancel()" label="Non"></button>
  </p-footer>
</p-dialog>
