<div class="card border-{{globals.theme}} rounded-0 mb-3">
  <div class="card-header">Stagiaire {{obj.prenom}} {{obj.nom}}</div>
  <div class="card-body text-secondary">
    <p class="card-text">id: {{obj.id}}</p>
    <p class="card-text">prenom: {{obj.prenom}}</p>
    <p class="card-text">nom: {{obj.nom}}</p>
    <p class="card-text">formation: {{obj.formations != null ? obj.formations.length : ''}}</p>
    <ul *ngFor="let e of obj.formations">
      <li>titre de la formation: {{e?.titre}} </li>
    </ul>
    <p class="card-text">date de naissance: {{obj.dateNaissance | date: 'dd/MM/yyyy' }}</p>
    <p class="card-text">tel: {{obj.numTel}}</p>
    <p class="card-text">email: {{obj.email}}</p>
    <p class="card-text">adresse: {{obj.adresse}}</p>


  </div>
  <div class="card-footer clearfix">
    <a [routerLink]="['/stagiaire-edit', obj.id]">
      <button pButton type="button" label="Edit" icon="fa-edit" class="btn btn-{{globals.theme}}"></button>
    </a>
    <button pButton type="button" label="Delete" (click)="deleteObj()" icon="fa-trash" class="btn btn-{{globals.theme}}"></button>


</div>
<p-confirmDialog></p-confirmDialog>
