<div class="card bg-{{globals.theme}} text-white rounded-0" style="margin-top: 10px">
  <div class="card-header">Menu</div>
  <ul class="list-group list-group-flush text-dark">
    <li class="list-group-item"><a [routerLink] = "['']">Accueil</a></li>

    <li class="list-group-item"><a [routerLink] = "['/formation']">Formation</a> >> <a [routerLink] = "['/formation-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/salle']">Salle</a> >> <a [routerLink] = "['/salle-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/matiere']">Matiere</a> >> <a [routerLink] = "['/matiere-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/technicien']">Technicien</a> >> <a [routerLink] = "['/technicien-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/gestionnaire']">Gestionnaire</a> >> <a [routerLink] = "['/gestionnaire-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/stagiaire']">Stagiaire</a> >> <a [routerLink] = "['/stagiaire-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/formateur']">Formateur</a> >> <a [routerLink] = "['/formateur']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/enseignement']">Enseignement</a> >> <a [routerLink] = "['/enseignement-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/projecteur']">Projecteur</a> >> <a [routerLink] = "['/projecteur-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/ordinateur']">Ordinateur</a> >> <a [routerLink] = "['/ordinateur-add']">Add</a></li>
    <li class="list-group-item"><a [routerLink] = "['/incident']">Incident</a> >> <a [routerLink] = "['/incident-add']">Add</a></li>

    <li class="list-group-item">Logged as:<br><a href="">Se déconnecter</a></li>
    <li class="list-group-item"><a href="">S'enregistrer</a></li>
  </ul>
</div>
