<div>
  <p-table [columns]="cols" [value]="objs" selectionMode="single" [resizableColumns]="true" [paginator]="true" [rows]="10" [autoLayout]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="width:6em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>
          {{rowData['id']}}
        </td>
        <td>
         {{rowData['nom']}}
        </td>

        <td>
          <span [ngStyle]="{'color': rowData['couleur']}">{{rowData['couleur']}}</span>
        </td>
        <td>
          {{rowData['duree']}}
        </td>
        <td>
          {{rowData['objectif']}}
        </td>
        <td>
          {{rowData['prerequis']}}
        </td>
        <td>
          {{rowData['contenu']}}
        </td>
        <td>
          <button pButton icon="fa-search" (click)="detailObj(rowData)"></button>
          <button pButton icon="fa-trash" (click)="deleteObj(rowData)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <a [routerLink]="['/matiere-add']">
    <button pButton type="button" label="Add" icon="fa-plus" style="margin-top: 10px"></button>
  </a>
</div>
<p-confirmDialog></p-confirmDialog>
