<button pButton type="button" (click)="showDialog()" label="Programme" icon="fa-file-text" class="btn btn-{{globals.theme}} float-right"></button>
<p-dialog header="Godfather I" [(visible)]="display" width="600" modal="modal" [closeOnEscape]="false" [closable]="false">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <!--Begin Error Message-->
<!--  <div *ngIf="!myForm.valid && formsubmitted" class="ui error message">
    <div class="alert alert-secondary" role="alert">
      <div *ngIf="!myForm.controls['nom'].valid " class="ui error message">nom is invalid</div>
      <div *ngIf="myForm.controls['nom'].hasError('required')" class="ui error message">nom is required</div>
      <div *ngIf="!myForm.controls['remarque'].valid" class="ui error message">remarque is invalid</div>
      <div *ngIf="myForm.controls['remarque'].hasError('required')" class="ui error message">remarque required</div>
    </div>
  </div>-->
  <!--End Error Message-->

    <input formControlName="id" type="hidden" class="form-control"/>
    <div class="modal-body" style="padding-top: 0;">
      <!--<div class="form-group">
        <label>Nom *</label>
        <input formControlName="nom" required class="form-control"/>
      </div>
      <div class="form-group">
        <label>Remarque *</label>
        <input formControlName="remarque" class="form-control"/>
      </div>-->
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          Dropdown
        </div>
        <div class="ui-g-8">
          <p-dropdown formControlName="salle" [options]="salles" [(ngModel)]="selectedSalle" [autoWidth]="true"></p-dropdown>
        </div>
      </div>

    </div>


  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="OKDialog()" label="Yes"></button>
    <button type="button" pButton icon="fa-close" (click)="CancelDialog()" label="No"></button>
  </p-footer>
  </form>
</p-dialog>
