<div class="card border-{{globals.theme}}" style="margin-top: 10px;">
  <div class="card-header">Edition du cheval</div>
  <div class="card-body" style="padding-bottom: 0;">
    <!--Begin Error Message-->
    <div *ngIf="!myForm.valid && formsubmitted" class="ui error message">
      <div class="alert alert-secondary" role="alert">
        <div *ngIf="!myForm.controls['nom'].valid " class="ui error message">nom is invalid</div>
        <div *ngIf="myForm.controls['nom'].hasError('required')" class="ui error message">nom is required</div>
        <div *ngIf="!myForm.controls['remarque'].valid" class="ui error message">remarque is invalid</div>
        <div *ngIf="myForm.controls['remarque'].hasError('required')" class="ui error message">remarque required</div>
      </div>
    </div>
    <!--End Error Message-->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
      <input formControlName="id" type="hidden" class="form-control"/>
    <div class="modal-body" style="padding-top: 0;">
      <div class="form-group">
        <label>Nom *</label>
        <input formControlName="nom" required class="form-control"/>
      </div>
      <div class="form-group">
        <label>Remarque *</label>
        <input formControlName="remarque" class="form-control"/>
      </div>
      <div *ngIf="centreequestres?.length > 0; else nothing;">
        <div class="form-group">
          <label>Centre Equestre: *</label>
          <select formControlName="centreEquestre" multiple="multiple" [compareWith]="equalsCentreEquestre" [(ngModel)]="centreequestresSelected" class="form-control">
            <option *ngFor="let centreequestre of centreequestres" [ngValue]="centreequestre">{{centreequestre.nom}}</option>
          </select>
        </div>

      </div>
      <ng-template #nothing>Il n'y a plus d'auteurs dans la liste</ng-template>

      <input type="hidden" path="id" />
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-{{globals.theme}}">
        <img src="/assets/images/submit.png" width="20px" height="20px">
      </button>
      <button type="reset" class="btn btn-{{globals.theme}}">
        <img src="/assets/images/reset.png" width="20px" height="20px">
      </button>
    </div>
    </form>
  </div>
</div>
